.grid {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  font-size: 30pt;
  font-family: sans-serif;
}

.cell {
  border: 1px solid black;
  padding: 26px;
}
